### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

#Load Raw Data

raw_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(raw_data)

# Data Exploration

In [2]:
print(df.head())

   Purchase ID             SN  Age Gender  Item ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44

In [3]:
#Remove white space

df = df.rename(columns={'Purchase ID': 'Purchase_ID', 'Item ID': 'Item_ID', 'Item Name': 'Item_Name'})
print(df.head())

   Purchase_ID             SN  Age Gender  Item_ID  \
0            0        Lisim78   20   Male      108
1            1    Lisovynya38   40   Male      143
2            2     Ithergue48   24   Male       92
3            3  Chamassasya86   24   Male      100
4            4      Iskosia90   23   Male      131

                                   Item_Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56
2                               Final Critic   4.88
3                                Blindscythe   3.27
4                                       Fury   1.44

In [4]:
print(df.shape)

(780, 7)

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase_ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item_ID      780 non-null    int64
 5   Item_Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB
None

In [6]:
print(df.describe())

       Purchase_ID         Age     Item_ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [7]:
#Count Unique screen names

players = pd.unique(df.SN)
players_sum = [len(players)]


play_sum_df = pd.DataFrame(players_sum, columns = ["Total Players"]).style.set_properties(**{'text-align': 'left'})

#call summary
play_sum_df

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
sum_df = pd.DataFrame(index=[0])

#Count Unique Items

items = pd.unique(df.Item_ID)
items_count = len(items)
sum_df['Number of Unique Items'] = [items_count]

#Calculate Average Price

price_mean = df['Price'].mean()
sum_df['Average Price'] = [round(price_mean, 2)]

#Calculate Total Purchases

total_purch = df['Purchase_ID'].count()
sum_df['Number of Purchases'] = [total_purch] 

#Total Revenue

total_rev = df['Price'].sum()
sum_df['Total Revenue'] = [total_rev]

#Fix Styling for Summary DF
sum_df = sum_df.head(1).style.format({"Average Price": "${:15,.2f}","Total Revenue": "${:15,.2f}"}).set_properties(**{'text-align': 'left'})

#call summary

sum_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
#Remove Duplicate Screen Names 

gen_df = df.drop(columns=["Item_Name","Price","Item_ID","Purchase_ID","Age"])
gen_df = gen_df.drop_duplicates(subset=['SN'])

In [10]:
#Count Gender

count_m = gen_df.loc[gen_df.Gender == 'Male', 'Gender'].count()
count_f = gen_df.loc[gen_df.Gender == 'Female', 'Gender'].count()
count_o = gen_df.loc[gen_df.Gender == 'Other / Non-Disclosed', 'Gender'].count()

In [11]:
#Calculate Percentages

per_m = round(count_m/(len(gen_df))*100, 2)
per_f = round(count_f/(len(gen_df))*100, 2)
per_o = round(count_o/(len(gen_df))*100, 2)

In [12]:
#Create Summary DF

gen_sum = ([count_m, per_m], [count_f, per_f], [count_o, per_o])

#Rename and Fix Styling for summary

gensum_df = pd.DataFrame(gen_sum, index=['Male', 'Female', 'Other'], columns=['Total Count','Percentage of Players'])
gensum_df = gensum_df.head(10).style.format({"Percentage of Players": "{:.2f}%"}).set_properties(**{'text-align': 'left'})

#call summary
display(gensum_df)

# Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
#Use .agg to acquire count mean and sum

genresult_df = df.groupby('Gender').Price.agg(['count', 'mean', 'sum'])

In [14]:
#Calculate the average spend per person by gender

genresult2_df = pd.DataFrame(df.groupby(['Gender', 'SN']).sum()
                .groupby(['Gender'])['Price'].mean())

In [15]:
#Merge and format output

results_gen = pd.merge(genresult_df, genresult2_df, how ='inner', on ='Gender')

#rename and fix styling for summary

results_gen = results_gen.rename(columns={'count': 'Purchase Count', 'mean': 'Average Purchase Price', 'sum': 'Total Purchase Value', 'Price': 'Avg Total Purchase per Person'})
results_gen = results_gen.head(3).style.format({"Average Purchase Price": "${:15,.2f}", 
                          "Total Purchase Value": "${:15,.2f}", 
                          "Avg Total Purchase per Person":"${:15,.2f}"}).set_properties(**{'text-align': 'left'})


#call summary
display(results_gen)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#Set Bin Ranges
bins =[0,9,14,19,24,29,34,39,99]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29','30-34','35-39','40+']

In [17]:
#Clean Duplicate entries

bin_data = df.drop_duplicates(subset=['SN'])

In [18]:
#cut into bins

bin_data['AgeGroup'] = pd.cut(bin_data.Age,bins,labels = bin_labels)

/Users/wvillarosa/opt/anaconda3/envs/class_31/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [19]:
#create summary DF

age_df = pd.DataFrame(bin_data.groupby('AgeGroup')['Gender'].count())

#calculate percentage and append as column

age_df['Percentage of Players'] = (age_df['Gender']/len(bin_data)*100)

#fix styling

age_df = age_df.rename(columns={'Gender': 'Total Count'})
age_df = age_df.head(8).style.format({"Total Count": "{:.2f}", 
                          "Percentage of Players": "{:.2f}%"}).set_properties(**{'text-align': 'left'})

#call summary

age_df

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#duplicate raw df

df_age = df

#append bins as column

df_age['Age_Ranges'] = pd.cut(df_age.Age,bins,labels = bin_labels)

In [21]:
df_age.shape

(780, 8)

In [22]:
#basic calculations except average price per person

ageresult_df = df_age.groupby('Age_Ranges').Price.agg(['count', 'mean', 'sum'])

In [23]:
#calculate average price per person

ageresult2_df = pd.DataFrame(df_age.groupby(['Age_Ranges', 'SN']).sum()
                .groupby(['Age_Ranges'])['Price'].mean())

In [24]:
#Merge for summary

results_age = pd.merge(ageresult_df, ageresult2_df, how ='inner', on ='Age_Ranges')

#rename and fix formatting for summary

results_age = results_age.rename(columns={'count': 'Purchase Count', 'mean': 'Average Purchase Price', 'sum': 'Total Purchase Value', 'Price': 'Avg Total Purchase per Person'})
results_age = results_age.head(8).style.format({"Average Purchase Price": "${:15,.2f}", 
                        "Total Purchase Value": "${:15,.2f}", 
                        "Avg Total Purchase per Person":"${:15,.2f}"}).set_properties(**{'text-align': 'left'})
#call summary

results_age

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
#Calculate Values
topspend_df = pd.DataFrame(df.groupby(['SN',]).Price.agg(['count', 'mean', 'sum']))

#Sort by total 
topspend_df = topspend_df.sort_values(by='sum', ascending=False)


#Rename and fix formatting for summary
topspend_df = topspend_df.rename(columns={'count': 'Total Count','mean': 'Average Purchase Price','sum': 'Total Purchase Value'})
topspend_df = topspend_df.head(5).style.format({"Average Purchase Price": "${:15.2f}","Total Purchase Value": "${:15.2f}"}).set_properties(**{'text-align': 'left'})

#call summary
topspend_df

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
#Calculate Values and create dataframe

item_df = pd.DataFrame(df.groupby(['Item_ID','Item_Name']).Price.agg(['count', 'mean', 'sum']))

#Sort by purchase count

item_df = item_df.sort_values(by='count', ascending=False)

#rename and fix formatting for summary
item_df = item_df.rename(columns={'count': 'Purchase Count','mean': 'Average Purchase Price','sum': 'Total Purchase Value'})
item_df = item_df.head(5).style.format({"Average Purchase Price": "${:15,.2f}","Total Purchase Value": "${:15,.2f}"}).set_properties(**{'text-align': 'left'})

item_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
#calculate values and create dataframe

profit_df = pd.DataFrame(df.groupby(['Item_ID','Item_Name']).Price.agg(['count', 'mean', 'sum']))

#sort by total purchase value

profit_df = profit_df.sort_values(by='sum', ascending=False)

#rename and fix formatting for summary
profit_df = profit_df.rename(columns={'count': 'Purchase Count','mean': 'Average Purchase Price','sum': 'Total Purchase Value'})
profit_df = profit_df.head(5).style.format({"Average Purchase Price": "${:15,.2f}","Total Purchase Value": "${:15,.2f}"}).set_properties(**{'text-align': 'left'})

profit_df

In [28]:
D,D,

NameError: name 'D' is not defined